@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --text: #D4D4D8;
    --background: #fffff0;
    --primary: #2C3E50;
    --secondary: #C45824;
    --accent: #768087;
    --Thin: 100;
    --ExtraLight: 200;
    --Light: 300;
    --Regular: 400;
    --Medium: 500;
    --SemiBold: 600;
    --Bold: 700;
    --ExtraBold: 800;
}

* {
    font-family: "Inter";
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--background);
}

.banner {
    width: 100%;
    height: 20vh;
    background-color: #646464;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .adressInfo {
    color: white;
    position: absolute;
    left: 30vw;
}

.pagesBar {
    width: 20vw;
    height: 85vh;
    background-color: var(--primary);
    position: absolute;
    left: 5vw;
    top: 10vh;

    border-radius: 15px;
    color: white;

    display: flex;
    flex-direction: column;
}

.pagesBar h1 {
    font-weight: normal;
    text-align: center;
    font-size: 40px;

    margin-top: 10%;
}

.pagesBar h1 span {
    font-size: 50px;
}

.pagesBar .pages {
    width: 90%;
    height: 20vh;
    padding: 5%;
    gap: 20px;
}

.pagesBar .pages h2 {
    font-weight: normal;
}

.pagesBar .pages ul {
    list-style: none;
    gap: 20px;
}

.containerMain {
    width: 70vw;
    height: 100vh;
    /* background-color: rgb(194, 194, 194); */

    position: absolute;
    left: 25vw;

    margin-left: 2%;
}

.containerKPI {
    display: flex;
    flex-direction: row;
    gap: 5vw;

    justify-content: center;
    margin-top: -5vh;
}

.containerKPI .kpi {
    background-color: var(--primary);
    width: 15vw;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-size: 5vh;

    font-weight: lighter;
}

#chartLine {
    width: 40%;
    height: 300px;
    padding: 5px;

    background-color: gray;
}