@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --text: #D4D4D8;
    --background: #fffff0;
    --primary: #2C3E50;
    --secondary: #e66c2f;
    --accent: #768087;  
    --gray: lightslategray;
}

* {
    font-family: "Inter";
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--background);
    overflow: hidden;
}

.divGeral{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.divPainel{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    width: 15%;
    height: 100%;
}

.divPainelAzul{
    width: 85%;
    height: 85%;
    background-color: var(--primary) ;
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.divDash{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--background);
    width: 85%;
    height: 100vh ;
}

.divPagina{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 5%;
}

.divPaginaHome a {
    color: var(--gray);
    width: 10%;
    height: 50%;
    text-decoration: none;
}
.divPaginaAtual{
    color: var(--primary);
    font-weight: bold;
    font-size: x-large;
    width: 100%;
    height: 50%;
}

.divKPIs{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 15%;
    background-color: var(--background);
}

.divKPI{
    position: relative;
    width: 23%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    box-shadow: 0 5px 10px gray;
}

.Primary{
    background-color: var(--primary);
}

.Secondary{
    background-color: var(--secondary);
}

.icon1{
    background-image: url(../assets/icons-dash/police.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
}
.icon2{
    background-image: url(../assets/icons-dash/bus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
}
.icon3{
    background-image: url(../assets/icons-dash/chart-bar.png);
    background-repeat: no-repeat;
    background-position: center;
}
.icon4{
    background-image: url(../assets/icons-dash/store.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon5{
    background-image: url(../assets/icons-dash/school.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
}

.icon6{
    background-image: url(../assets/icons-dash/hospital.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
}

.icon7{
    background-image: url(../assets/icons-dash/tree-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
}

.divKpiIcone{
    position: absolute;
    margin-top: -5%;
    margin-left: 7%;
    width: 20%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 0 5px 10px gray;
}

.divKpiNomes{
    color: var(--gray);
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin-top: 2%;
}

.divKpiValor{
    color: var(--primary);
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin-top: 13%;
    font-weight: bold;
    font-size: 200%;
    font-weight: bold;
}

.divKpiDescricao1{
    color: var(--gray);
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
    font-size: small;
    font-weight: bold;
}
.divKpiDescricao1 span{
    color: greenyellow;
}

.divKpiDescricao2{
    color: var(--gray);
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
    font-size: small;
    font-weight: bold;
}
.divKpiDescricao2 span{
    color: var(--secondary);
}

.divKpiDescricao3{
    color: var(--gray);
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
    font-size: small;
    font-weight: bold;
}
.divKpiDescricao3 span{
    color: red;
}

.divKpiDescricao4{
    color: var(--gray);
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
    font-size: small;
    font-weight: bold;
}
.divKpiDescricao4 span{
    color: greenyellow;
}

.divGraficos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 45%;
    background-color: var(--background);
}

.divGrafico{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 49%;
    height: 95%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px gray;
}

.divGraficoReal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -5%;
    width: 95%;
    height: 65%;
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: 0 0px 5px gray;
}
.divGraficoReal canvas {
    width: 95% !important ;
    height: 95% !important;
}

.divNomeGrafico{
    color: var(--gray);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    width: 95%;
    height: 15%;
}

.spanNome{
    color: var(--primary);
    font-weight: bold;
    font-size: larger;
}
.divAtualizacaoGrafico{
    gap: 0.5px;
    display: flex;
    align-items: center;
    color: var(--gray);
    width: 95%;
    height: 10%;
}

.divInformacoes{
    width: 99%;
    height: 15%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    gap: 5px;

}

.kpis{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.divInformacoes2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    margin-right: 4%;
}

.divInformacoes2 img {
    transform: scale(1.2);
    margin-left: 60%;
}

.divKPI2{
    position: relative;
    width: 16%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    box-shadow: 0 5px 10px gray;
}

.divKpiIcone2{
    position: absolute;
    margin-top: -5%;
    margin-left: 7%;
    width: 25%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 0 5px 10px gray;
}

.button_logout{
    display: flex;
    align-items: center;
    color: var(--background);
    border-radius: 5px;
    background-color: #c45824;
    justify-content: center;
    width: 70%;
    height: 50%;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.button_logout:hover {
    background-color: #a8421b;
    transform: scale(1.05);
}

.div-button-log-out{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
}