:root {
    --drop-shadow-black: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    --linearwhite: rgba(255, 255, 255, 1);
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #f9f9f9;
}

.content {
    width: 100%;
    margin-left: var(--sidebar-width);
    flex: 1;
    padding: 1rem;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card {
    background-color: var(--linearwhite);
    border-radius: 0.75rem;
    padding: 1.5rem;
    box-shadow: var(--drop-shadow-black);
    margin-bottom: 1rem;
}

.alert-font {
    color: var(--lineardark-blue);
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.notification {
    color: var(--lineardark-blue);
    font-size: 1.25rem;
    margin-bottom: 0.3rem;
}

.container-notification {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-notification h1 {
    color: var(--lineardark-blue);
    font-weight: 700;
    font-size: 24px;
}

.alerts-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.subtitle {
    color: var(--lineargrey);
    font-size: 0.875rem;
    margin-bottom: 2rem;
}

.notification-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

}

.btn {
    padding: 0.800rem 1.25rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--linearwhite);
    font-weight: bold;
    font-size: 0.75rem;
    cursor: pointer;
    min-width: 250px;
}

.btn.success {
    background-color: var(--lineargreen);
}

.btn.info {
    background-color: var(--linearblue);
}

.btn.warning {
    background-color: var(--linearorange);
}

.btn.danger {
    background-color: var(--linearred-orange);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 90%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 2rem;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


header h1 {
    font-size: 1.8rem;
    color: #33374d;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

label {
    font-weight: 500;
    display: block;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

button {
    background-color: #2c3e50;
    color: #fff;
    border: none;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: #1a252f;
}

.alert {
    height: 100%;
    padding: 1.25rem;
    border-radius: 0.5rem;
    color: var(--linearwhite);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.edit-button, .delete-button {
    width: 7vw;
    background: none;
    border: none;
    color: var(--linearwhite);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
}

.online {
    background: forestgreen;
}

.offline {
    background: var(--linearred-orange);
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .2s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(18px);
}
